<div class="content-header">
  <div class="channel-elements">
    <mat-icon>numbers</mat-icon>
    <span>{{ (dmService.currentChannelRecipient | getUserNameById | async)?.displayName }}</span>
  </div>
</div>

<div class="content-container">
  <div class="message-container" *ngFor="let message of dmService.currentChannelMessages let i = index">
    <div>
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="message-container-right">
      <div class="user-and-time">
        <span>{{ (message.author | getUserNameById | async)?.displayName  }}</span>
        <span>{{ message.timestamp | date : "HH:mm" }} Uhr</span>
      </div>
      <quill-view class="message-text" [content]="message.content" format="html" theme="snow"></quill-view>
    </div>
  </div>
</div>