<div class="content-header">
  <div class="channel-elements">
    <mat-icon>numbers</mat-icon>
    <span>{{ dmService.currentChannelRecipient }}</span>
  </div>
</div>

<div
  class="content-container"
  *ngFor="let message of dmService.currentChannelMessages let i = index"
>
  <div class="message-container">
    <div>
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="message-container-right">
      <div class="user-and-time">
        <span>{{ message.author }}</span>
        <span
          >{{ message.timestamp | date : "HH:mm" }} Uhr</span
        >
      </div>
      <!-- <p class="message-text">{{ message.content }}</p> -->
      <quill-view class="message-text" [content]="message.content" format="html" theme="snow"></quill-view>
    </div>
  </div>

  <!-- <app-textbox class="pin-bottom"></app-textbox> -->
</div>
