<div class="text-box" #chatBox [ngClass]="{'active': focusTextbox}">
    <!-- <div class="formating">
        <button [disabled]="!focusTextbox" (click)="bold()">
            <mat-icon>format_bold</mat-icon>
        </button>
        <button [disabled]="!focusTextbox" (click)="italic()">
            <mat-icon>format_italic</mat-icon>
        </button>
        <button [disabled]="!focusTextbox" (click)="strikeThrough()">
            <mat-icon>strikethrough_s</mat-icon>
        </button>
        <button [disabled]="!focusTextbox" (click)="listNumbered()">
            <mat-icon>format_list_numbered</mat-icon>
        </button>
        <button [disabled]="!focusTextbox" (click)="listDot()">
            <mat-icon>list</mat-icon>
        </button>
    </div> -->
    <!-- <div class="text-message">
        <input [(ngModel)]="chatInput" #textMessage type="text" placeholder="Nachricht an {{ '#' + channelService.channel.name }}">
    </div>
    <div class="text-box-footer">
        <div class="left-side">
            <mat-icon>add</mat-icon>
            <mat-icon>sentiment_satisfied_alt</mat-icon>
        </div>
        <button class="send-btn" [disabled]="!chatInput" (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </div> -->
<quill-editor (onEditorChanged)="getContent($event)" id="editor" [modules]="config" placeholder="Nachricht an #{{ channelService.channel.name }}" #textMessage></quill-editor>
<!-- <button class="send-btn" [disabled]="!chatInput" (click)="sendMessage()">
    <mat-icon>send</mat-icon>
</button> -->
<div class="text-box-footer">
    <!-- <div class="left-side">
        <mat-icon>add</mat-icon>
        <mat-icon>sentiment_satisfied_alt</mat-icon>
    </div> -->
    <button class="send-btn" [disabled]="!textToUpload" (click)="sendMessage()" matTooltip="ctrl + enter">
        <mat-icon>send</mat-icon>
    </button>
</div>
</div>
