<!-- <div class="text-box-container"> -->
    <div class="text-box">
        <div class="formating">
            <mat-icon>format_bold</mat-icon>
            <mat-icon>format_italic</mat-icon>
            <mat-icon>strikethrough_s</mat-icon>
            <mat-icon>format_list_numbered</mat-icon>
            <mat-icon>list</mat-icon>
        </div>
        <div class="text-message">
            <input type="text" placeholder="Nachricht an allgemein">
        </div>
        <div class="text-box-footer">
            <div class="left-side">
                <mat-icon>add</mat-icon>
                <mat-icon>sentiment_satisfied_alt</mat-icon>
            </div>
            <mat-icon>send</mat-icon>
        </div>
    </div>
<!-- </div> -->