<div class="content-header">
    <div class="channel-elements">
        <mat-icon>numbers</mat-icon>
        <span>{{ channelService.channel.name }}</span>
    </div>
</div>


<div class="content-container">
    <!-- <div class="message-list-day-divider" *ngFor="let thread of channelService.channel.thread; let i = index"> -->
    <div *ngFor="let thread of channelService.channel.thread; let i = index">
        <!-- <div class="divider-line"></div>
        <mat-chip>Gestern</mat-chip>
        <div class="divider-line"></div> -->
        <div class="message-list-day-divider" *ngIf="isDifferentDay(i)">
            <!-- <div>{{ getMessageDate(i) }}</div> -->
            <div class="divider-line"></div>
            <mat-chip class="sticky">{{ getMessageDate(i) }}</mat-chip>
            <div class="divider-line"></div>
        </div>


        <div class="message-container">
            <div>
                <mat-icon>{{ thread.authorPic }}</mat-icon>
            </div>
            <div class="message-container-right">
                <div class="user-and-time">
                    <span>{{ (thread.author | getUserNameById | async)?.displayName }}</span>
                    <span>{{ thread.timestamp | date:'HH:mm' }} Uhr</span>
                </div>
                <quill-view class="message-text" [content]="thread.message" format="html" theme="snow"></quill-view>
                <div *ngIf="thread.replies.length" class="answers" (click)="channelService.openThread(i)">
                    <mat-icon>account_circle</mat-icon>
                    <span>{{ thread.replies.length }} Antworten</span>
                    <div class="reply-bar-description">
                        <!-- <span>Letzte Antwort vor 1 Tag</span> -->
                        <!-- <span>Letzte Antwort vor {{ (thread.replies[thread.replies.length - 1].timestamp) - currentDate | date:'H'}}</span> -->

                        <!-- shows last answer of today -->
                        <span
                            *ngIf="thread.replies[thread.replies.length - 1]?.timestamp > getLastMidnightTime && currentDate < getNextMidnightTime">
                            Letzte Antwort heute um {{ thread.replies[thread.replies.length - 1]?.timestamp |
                            date:'HH:mm'}}
                            Uhr
                        </span>

                        <!-- shows last answer from yesterday with hours -->
                        <!-- <span
                        *ngIf="currentDate > getLastMidnightTime && thread.replies[thread.replies.length - 1]?.timestamp < getLastMidnightTime">
                        Letzte Antwort vor {{ currentDate - thread.replies[thread.replies.length - 1]?.timestamp | date:'H'}} Stunden
                    </span> -->
                        <span
                            *ngIf="thread.replies[thread.replies.length - 1]?.timestamp > getDayBeforeMidnightTime && thread.replies[thread.replies.length - 1]?.timestamp < getLastMidnightTime">
                            Letzte Antwort vor {{ currentDate - thread.replies[thread.replies.length - 1]?.timestamp |
                            date:'H'}} Stunden
                        </span>

                        <!-- shows last answer from last days -->
                        <span *ngIf="thread.replies[thread.replies.length - 1]?.timestamp < getDayBeforeMidnightTime">
                            Letzte Antwort vor {{ currentDate - thread.replies[thread.replies.length - 1]?.timestamp |
                            date:'d'}} Tagen
                        </span>
                        <span>Thread ansehen</span>
                    </div>
                    <mat-icon class="thread-icon">navigate_next</mat-icon>
                </div>
            </div>
        </div>
    </div>

</div>