<div class="content-header">
    <div class="channel-elements">
        <mat-icon>numbers</mat-icon>
        <span>{{ channelService.channel.name }}</span>
    </div>
</div>


<div class="content-container">
    <div class="message-container" *ngFor="let thread of channelService.channel.thread; let i = index">
        <div>
            <mat-icon>{{ thread.authorPic }}</mat-icon>
        </div>
        <div class="message-container-right">
            <div class="user-and-time">
                <span>{{ (thread.author | getUserNameById | async)?.displayName }}</span>
                <span>{{ thread.timestamp | date:'HH:mm' }} Uhr</span>
            </div>
            <quill-view class="message-text" [content]="thread.message" format="html" theme="snow"></quill-view>
            <div class="answers" (click)="channelService.openThread(i)">
                <mat-icon>account_circle</mat-icon>
                <span>{{ thread.replies.length }} Antworten</span>
                <div class="reply-bar-description">
                    <span>Letzte Antwort vor 1 Tag</span>
                    <span>Thread ansehen</span>
                </div>
                <mat-icon class="thread-icon">navigate_next</mat-icon>
            </div>
        </div>
    </div>
</div>