.drawer-container {
    height: calc(100vh - 64px);
}

.sidebar {
    background-color: var(--secondary);
    width: 260px;
}

.channel-sidebar-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}