:host {
    display: flex;
    flex-direction: column;
    overflow: overlay;
    width: 400px;
}

.thread-header {
    justify-content: space-between;

    >mat-icon {
        font-size: 18px;
        height: 18px;
        width: 18px;
        cursor: pointer;
        transition: all 125ms ease-in-out;
        border-radius: 5px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            transition: all 125ms ease-in-out;
        }
    }
}

.thread {

    span {
        &:last-of-type {
            font-size: 13px;
            font-weight: 400;
            color: grey;
        }
    }

    mat-icon {
        font-size: 13px;
        height: 13px;
        width: 13px;
        margin-right: 0;
        margin-left: 6px;
        color: grey;
    }
}

.answers-divider {
    display: flex;
    align-items: center;
    padding: 0 20px;

    span {
        font-size: 13px;
        width: fit-content !important;
        color: grey;
    }
}

.divider-line {
    display: flex;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 75%;
    margin-left: auto;
}