<div class="dialog-header">
    <h1>Leute zum Workspace einladen</h1>
    <div class="icon-container">
        <mat-icon mat-button mat-dialog-close>close</mat-icon>
    </div>
</div>

<h4>An:</h4>
<div class="create-channel-input">
    <!-- <mat-icon>numbers</mat-icon> -->
    <input type="text" placeholder="">
</div>
<p>In Channels werden Unterhaltungen rund um ein Thema geführt. Verwende einen Namen, der einfach zu finden und zu verstehen ist.</p>
<div mat-dialog-actions class="btn-container">
    <button mat-button class="btn" disabled="true">Senden</button>
</div>