:host {
    display: flex;
    flex-direction: column;
    width: 520px;
    background-color: var(--primary);
}

:host {
    display: flex;
    flex-direction: column;
    width: 520px;
    background-color: var(--primary);
}

