<div class="dialog-header">
  <h1>Change User Credentials</h1>
  <div class="icon-container">
    <mat-icon mat-button mat-dialog-close>close</mat-icon>
  </div>
</div>

<div class="container">
  <div class="profile-pic-container" *ngIf="user$ | async as user">
      <img
        [src]="user.photoURL ?? 'assets/img/image-placeholder.png'"
      />
  </div>
  <div class="create-channel-input">
    <mat-icon>numbers</mat-icon>
    <input
      [(ngModel)]="userName"
      class="channel-input"
      type="text"
      placeholder="Your Name"
    />
  </div>
  <div class="create-channel-input">
    <mat-icon>numbers</mat-icon>
    <input
      [(ngModel)]="userEmail"
      class="channel-input"
      type="text"
      placeholder="Your E-mail"
    />
  </div>
</div>
<p class="dialog-description">You can update your credentials here</p>
<div mat-dialog-actions class="btn-container">
  <button
    mat-button
    class="btn"
    [disabled]="!userName"
    (click)="updateUserCredentials()"
  >
    Weiter
  </button>
</div>
